In [1]:
import pandas as pd
import numpy as np
from datetime import date
import csv 
import requests
import glob
from pandas import DataFrame
from pandas import concat
from util import read_multiple_csv, select_relevant_rows, series_to_supervised, select_attributes, read_movement_data

In [2]:
url_regional_data = 'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni-PLACEHOLDER.csv'
path = r'/Users/marcomazzoli/Documents/Projects/COVID-19/dati-regioni'

frame = read_multiple_csv(path)

In [3]:
region_focus = 'Emilia-Romagna'
attribute_focus = 'denominazione_regione'

region_focus_data = select_relevant_rows(frame, attribute_focus, region_focus)
#region_focus_data.head()

In [4]:
frame_interesting_columns = select_attributes(region_focus_data, ['data', 'ricoverati_con_sintomi', 'terapia_intensiva', 'totale_ospedalizzati'])
data = series_to_supervised(frame_interesting_columns, n_in=20, n_out=3)
#print(data)

In [6]:
frame_interesting_columns = pd.DataFrame(frame_interesting_columns)

In [7]:
frame_interesting_columns['data'] = pd.to_datetime(frame_interesting_columns['data'])
frame_interesting_columns['data'] = frame_interesting_columns['data'].dt.strftime(r'%Y-%m-%d')

In [8]:
frame_interesting_columns

,data,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati
4,2020-12-26,2630,214,2844
25,2021-03-17,3542,381,3923
46,2021-03-03,2528,251,2779
67,2021-04-16,2365,313,2678
88,2021-01-29,2172,209,2381
...,...,...,...,...
17476,2020-03-23,2846,276,3122
17497,2021-01-30,2124,203,2327
17518,2020-12-17,2801,206,3007
17539,2020-12-03,2668,245,2913
17560,2021-03-26,3515,399,3914

In [ ]:
"""
DataSet crea istanze della serie temporale, con variabili parametriche, ogni istanza ha i valori considerati (da file DataSet) per un valore parametrico di giorni antecedenti.
Provincia (regione) (si puo’ scendere per comune nel caso sia disponibile, ma se i valori sono inferiori a 30 difficile fare training).
Età in fasce (se disponibile, lavorare per fasce, numero per fascia considerata, almeno 4-5). (Assente da protezione civile.)
Genere (in due variabili, numero uomini, numero donne, se presente da dati IRST). (Assente da protezione civile.)
Numero di tamponi effettuati (tasso ogni 100.000 residenti).
Numero di tamponi effettuati su nuovi soggetti (tasso ogni 100.000 residenti).
Numero di tamponi positivi su nuovi soggetti (tasso ogni 100.000 residenti).
Numero di tamponi positivi su totale tamponi effettuati (tasso ogni 100.000 residenti).
Popolazione residente.
Densità di popolazione.
Dati mobilita’ di Google.

Output
Numero di pazienti ricoverati (tasso ogni 100.000 residenti).
Numero di pazienti ricoverati in terapia intensiva (tasso ogni 100.000 residenti).
Numero di decessi (tasso ogni 100.000 residenti).
"""

In [9]:
path = '/Users/marcomazzoli/Documents/Scuola/Region_Mobility_Report_CSVs'
df = read_movement_data(path, 'IT_Region_Mobility_Report', region='Emilia-Romagna')

In [ ]:
df

In [10]:
df = df[['date',
            'retail_and_recreation_percent_change_from_baseline',
            'grocery_and_pharmacy_percent_change_from_baseline',
            'parks_percent_change_from_baseline',
            'transit_stations_percent_change_from_baseline',
            'workplaces_percent_change_from_baseline',
            'residential_percent_change_from_baseline']]

In [11]:
df

,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
2697,2021-01-01,-90.0,-93.0,-67.0,-84.0,-88.0,37.0
2698,2021-01-02,-71.0,-32.0,-63.0,-70.0,-52.0,23.0
2699,2021-01-03,-74.0,-43.0,-43.0,-64.0,-30.0,16.0
2700,2021-01-04,-24.0,19.0,1.0,-45.0,-41.0,16.0
2701,2021-01-05,-52.0,2.0,-46.0,-60.0,-49.0,23.0
...,...,...,...,...,...,...,...
21436,2020-12-27,-74.0,-26.0,-46.0,-65.0,-30.0,15.0
21437,2020-12-28,-35.0,0.0,-35.0,-53.0,-47.0,20.0
21438,2020-12-29,-31.0,13.0,-9.0,-49.0,-46.0,19.0
21439,2020-12-30,-27.0,36.0,-22.0,-48.0,-47.0,18.0
21440,2020-12-31,-54.0,6.0,-23.0,-62.0,-66.0,27.0

In [12]:
frame_interesting_columns.rename(columns={'data': 'date'}, inplace=True)

In [13]:
merged = pd.merge(frame_interesting_columns,df,how='outer',on='date')

In [26]:
frame_interesting_columns.set_index('date',inplace=True)
df.set_index('date',inplace=True)

            ricoverati_con_sintomi  terapia_intensiva  totale_ospedalizzati
date
2020-12-26                    2630                214                  2844
2021-03-17                    3542                381                  3923
2021-03-03                    2528                251                  2779
2021-04-16                    2365                313                  2678
2021-01-29                    2172                209                  2381
...                            ...                ...                   ...
2020-03-23                    2846                276                  3122
2021-01-30                    2124                203                  2327
2020-12-17                    2801                206                  3007
2020-12-03                    2668                245                  2913
2021-03-26                    3515                399                  3914

[837 rows x 3 columns]

In [27]:
merged = pd.merge(frame_interesting_columns,df,on='date')

In [28]:
merged

,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
date,,,,,,,,,
2020-12-26,2630,214,2844,-88.0,-86.0,-61.0,-77.0,-72.0,25.0
2020-12-26,2630,214,2844,-88.0,-86.0,-61.0,-77.0,-72.0,25.0
2021-03-17,3542,381,3923,-47.0,-6.0,-4.0,-51.0,-28.0,15.0
2021-03-17,3542,381,3923,-47.0,-6.0,-4.0,-51.0,-28.0,15.0
2021-03-03,2528,251,2779,-33.0,6.0,7.0,-40.0,-21.0,11.0
...,...,...,...,...,...,...,...,...,...
2021-04-01,3337,381,3718,-36.0,12.0,24.0,-43.0,-27.0,12.0
2021-04-02,3299,371,3670,-37.0,26.0,15.0,-46.0,-32.0,14.0
2021-04-02,3299,371,3670,-37.0,26.0,15.0,-46.0,-32.0,14.0
2021-04-03,3181,366,3547,-50.0,15.0,-30.0,-54.0,-38.0,14.0
2021-04-03,3181,366,3547,-50.0,15.0,-30.0,-54.0,-38.0,14.0